:root {
    --gutter: 8px;

    --neon-orange: hsl(44, 97%, 72%);
    --neon-orange-50: hsl(44, 97%, 72%, .5);
    --neon-pink: hsl(309, 70%, 58%);
    --neon-pink-50: hsla(309, 70%, 58%, .5);

    --dark-main: hsl(212, 41%, 15%);
    --light-main: hsl(32, 92%, 95%);

    color-scheme: light dark;
}

html {
    background-color: light-dark(var(--light-main), var(--dark-main));

    scroll-behavior: smooth;
}

body {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: light-dark(var(--dark-main), var(--light-main));
}
