:root {
    --custom-poo-width: 200px;
    --hsl-custom-poo-brown: 356, 11%, 24%;
    --custom-poo-brown: hsl(var(--hsl-custom-poo-brown));

    --gutter: 8px;
}

body, button {
    font-family: "Rubik Puddles", sans-serif;
    font-weight: 400;
    font-style: normal;
}
